code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Unbounded", cursive;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg_img {
    width: 100%;
    min-height: 100vh;
    background: url(./bg.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
}

.input {
    background-color: rgba(255, 255, 255, 0.75);
}

.group {
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 1rem 0;
}

.city {
    margin-top: 2rem;
}

.city,
.temp {
    font-size: 3rem;
    text-align: center;
}

.box_container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.box {
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.75);
    width: 220px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.2s;
}

.box:hover {
    transform: scale(1.1);
}

.input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, 1);
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding-top: 25px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    color: chocolate;
}

.search {
    display: block;
    width: 300px;
    margin: auto;
}

.bg_img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 300;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;
}

@media only screen and (max-width: 730px) {
    .bg_img {
        padding: 2rem 0;
        min-height: 200vh;
    }

    .box_container {
        flex-direction: column;
    }
}